<hr/>
<%= render 'shared/navbar' %>
<%=image_tag("/assets/globe_128.png")%><span style="font-size:18px;">EarthPact wants you to break your single-use plastic habits (and save the Earth while you're at it)</span> 
<footer/>
  <br />
  <br />
  <br />


