<hr/>
<%= render 'shared/navbar' %>
<%=image_tag("globe_logo_128.png")%><span style="font-size:18px;">Earth Pact wants you to break your single-use plastic habits (and save the Earth while you're at it)</span> 
<footer/>
  <br />
  <a href="https://twitter.com/intent/tweet?button_hashtag=EarthPact" class="twitter-hashtag-button" data-size="large" data-related="AnoSinPlastico" data-url="http://www.earth-pact.com">Tweet #EarthPact</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <br />
  <br />


