<p>Total Plastic used:</p>
<p><%=@total_plastic_used%></p>
<p>Total Money Contributed:</p>
<p><%=number_to_currency(@total_plastic_used * current_user.pact.penalty)%></p>
<p><%= link_to "View your logs",logs_path%></p>
<br />
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.earth-pact" data-text="I just logged my single-use plastic and made a contribution to environmentalist org @5gyres" data-size="large" data-hashtags="EarthPact">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br />
